/* Views */

view {
    
}

view layer {
    
}

/* Buttons */

button {
    
}

button icon {
    
}

button attributed-text {
    
}

/* Images */

image-view {
    
}

/* Labels */

label {
    
}

label attributed-text {
    
}

/* Navigation */

navigation-bar {

}

navigation-bar title {

}

navigation-bar button-appearance {

}

navigation-bar navigation-item {
    
}

navigation-bar back-indicator {
    
}

navigation-bar back-indicator-mask {
    
}

navigation-bar button-appearance {
    
}

navigation-bar back-button-appearance {
    
}

navigation-item {
    
}

navigation-item back-bar-button {
    
}

navigation-item left-bar-button {
    
}

navigation-item right-bar-button {
    
}

/* Switches */

switch {
    
}

switch thumb {
    
}

switch on {
    
}

switch off {
    
}

/* Tabs */

tab-bar {

}

tab-bar tab-bar-item {
    
}

tab-bar selection {
    
}

tab-bar tab-bar-item {

}

tab-bar tab-bar-item:selected {

}

/* Tables */

table-view {
    
}

table-view-cell {
    
}

table-view-cell content-view {
    
}

table-view-cell text-label {
    
}

table-view-cell detail-text-label {
    
}

table-view-cell attributed-text {
    
}

table-view-headerfooter-view {
    
}

table-view-headerfooter-view background-view {
    
}

table-view-headerfooter-view text-label {
    
}

/* Textfields */

text-field {
    
}

text-field placeholder {
    
}

text-field attributed-text {
    
}

/* Textviews */

text-view {
    
}

text-view attributed-text {
    
}

/* Bar buttons */

bar-button-item {
    
}

bar-button-item icon {
    
}

bar-item {
    
}



